/* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
body{
    background-color: white;
    color: black;
    font-family: 'Fira Code', monospace;
   
}
.head-con{
    text-align: center;
    background: #1a81bc;
    color: white;
    position: fixed; 
    width: 100%;
    height: 10rem;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

ul{
    display: inline;
    padding: 20px;
}

body{
    margin: 0%;
}

#about{
  padding-top: 10rem;
}

.center-text{
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}



.name-link{
    text-decoration: none;
    color: white;
}

.link{
    text-decoration: none;
    color: white;
    font-size: medium;
}

.link:hover{
    font-size: large;
    transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch {
    margin-top: 12px;
    margin-bottom: -10px;
    position: relative;
    left: 40%;
    display: inline-block;
    width: 50px;
    height: 24px;
    padding: 0%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(4, 146, 182);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ffffff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

.media{
  
  text-align: center;
  
}
.media img{
  padding: 10px;
  width: 5rem;
  height: 5rem;
  
}

#contact{

  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1a81bc;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: white;
}

#skills{
  padding-top: 10rem;
  padding-bottom: 10rem;
}




.centered {
  position: absolute;
  top: 10%;  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  padding-left: 60px;
  color: black;
}

.container img {
  width: 6rem;
  height: 6rem;
  padding-left: 20px;
  padding-right: 20px;
 
}

.container img:hover {
  transition: 0.3s 0.4s 0.3s 0.4s;
  width: 6.2rem;
  height: 6.2rem;
  background-color: #1a81bc; 
  border-radius: 1rem;
}

.AB{
  padding: 60px;
  text-align: left;
}
